[submodule "curriculum-basis"]
	path = curriculum-basis
	url = https://github.com/slonl/curriculum-basis.git
	branch = doelgroepteksten
[submodule "curriculum-lpib"]
	path = curriculum-lpib
	url = https://github.com/slonl/curriculum-lpib.git
	branch = doelgroepteksten
[submodule "curriculum-kerndoelen"]
	path = curriculum-kerndoelen
	url = https://github.com/slonl/curriculum-kerndoelen.git
	branch = doelgroepteksten
[submodule "curriculum-examenprogramma"]
	path = curriculum-examenprogramma
	url = https://github.com/slonl/curriculum-examenprogramma.git
	branch = doelgroepteksten
[submodule "curriculum-syllabus"]
	path = curriculum-syllabus
	url = https://github.com/slonl/curriculum-syllabus.git
	branch = doelgroepteksten
[submodule "curriculum-leerdoelenkaarten"]
	path = curriculum-leerdoelenkaarten
	url = https://github.com/slonl/curriculum-leerdoelenkaarten.git
